.navbar{
    background-color:#151841;
    
}

.navbar-brand,
.navbar-brand:hover,
.navbar-brand:visited{

    font-size:1.8rem;
    color:white;
 
}





.nav-item{

    font-size:1.2rem;
   
}
a.nav-link{

   font-weight: 300 !important;
    color:#fff!important;

}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,165,0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

.active{

    border-bottom: 1px solid orange;
     
 }

