<nav class="navbar navbar-light navbar-expand-md py-3  ">
  <div class="container">

    <a routerLink='' class="navbar-brand">
      <i class="fa fa-calendar orange"> </i>
      <span class='White'>Events</span><span class="orange">Finder</span>
    </a>
    <button (click)="toggleMenu()" class="navbar-toggler custom-toggler  hidden-lg-up" type="button" data-toggle="collapse" data-target="#appNavbar"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [class.show]="showMenu" id="appNavbar">
      <ul class="navbar-nav ml-auto" (click)="toggleMenu()" >
        <li class="nav-item pl-3">
          <a class="nav-link" routerLink='/events/music' routerLinkActive="active">
            <i class="orange fa fa-music"></i> Music </a>
        </li>
        <li class="nav-item pl-3">
          <a class="nav-link" routerLink='/events/sports' routerLinkActive="active">
            <i class="orange fa fa-futbol-o"></i> Sports</a>
        </li>
        <li class="nav-item pl-3">
          <a class="nav-link " routerLink='/events/arts&theater' routerLinkActive="active">
            <i class="orange fa fa-smile-o"></i> Arts & Theatre</a>
        </li>
        <li class="nav-item pl-3">
          <a class="nav-link " routerLink='/events/family' routerLinkActive="active">
            <i class="orange fa fa-users"></i> Family</a>
        </li>

      </ul>
    </div>
  </div>
</nav>