
.event-container{

    position: relative;
    cursor: pointer;
}

.event-details{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;    
    background:rgba(0, 0, 0, .6);

}

.event-text{

    color:white;
    position: absolute;
    left:8%;
    top:55%;
}

.zoom{

    transition: transform .2s;
}

.zoom:hover {
    transform: scale(1.15); 
    z-index: 10;
}