
  <div class="row mt-5 ">
    <div class="col-sm-6 mx-auto  ">
      
        <div class="input-group ">

          <input type="text" name='keyword' class="form-control" placeholder="City , Genre , Artist , Sport ,  Venue..." ngModel required>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" (click)='onFind()'><i class="fa fa-search"></i> Find</button>
          </div>

        </div>
      
    </div>
  <!-- </div> -->
  <!-- <div class="row">
    <div class="col text-center">
      <h1>Upcoming Events</h1>
    </div>
  </div> -->
  

</div>
