<div *ngIf="events">
    <h2 class="mt-5 mb-4 pl-2 underline">{{keyword | titlecase}} Events</h2>
    
    <div class="text-center ">
        <div class="btn-group mt-4  ">
            <button type="button" [class.active]="sortBy==='name'" class="btn btn-primary" (click)="sortBy='name'">By Name</button>
            <button type="button" [class.active]="sortBy==='date'" class="btn btn-primary" (click)="sortBy='date'">By Date</button>
    
        </div>
    </div>
   
    <div class="row mt-5">
    
        <div *ngFor="let event of events | orderBy:sortBy" class=" col-sm-6 col-md-4 col-lg-3 ">
    
    
            <app-event (click)='onSelection(event)' [event]="event"></app-event>
    
    
        </div>
    
    
    </div>

    <app-pager [currentPage]="currentPage" [totalPages]="numberOfPages" (pageChange)="loadPage($event)"></app-pager>
</div>

    <div *ngIf="showMessage" class="alert alert-danger w-75 mx-auto  mt-5">{{errorMessage}}       
    </div>
